#
# Example configuration file for the real-time system
#


# ROOT_DIR specifies the root directory under which the system will run,
#   although separate directories for logs, data, etc. can be specified
#   outside the root directory if needed

export ROOT_DIR=/home/anilkumar


# FCST_LEN sets the forecast length (i.e., the forecast range) to be made

export FCST_LEN=24


# LBC_INTERVAL specifies the interval (in hours) between lateral
#   boundary condition updates; this is also the interval at which we
#   must produce met_em.* files for the real.exe program

export LBC_INTERVAL=6


# VTABLE_NAME specifies the name of the Vtable to be used; the filename
#   given here is expected to reside in the CONFIG_DIR directory (set further
#   below in this file)

export VTABLE_NAME=Vtable.GFS


# CONFIG_DIR specifies the path to configuration files

export CONFIG_DIR=${ROOT_DIR}/config


# DOMAINS_DIR specifies the directory that holds the geo_em* files for the
#   forecast domains

export DOMAINS_DIR=${CONFIG_DIR}/domains


# WRF_DIR specifies the location of the compiled WRF model code

export WRF_DIR=${HOME}/WRF/WRFV3


# WPS_DIR specifies the location of the compiled WPS code

export WPS_DIR=${HOME}/WRF/WPS


# SCRIPTS_DIR specifies the path to the real-time system scripts, and is
#   used by various scripts to locate other scripts that they invoke

export SCRIPTS_DIR=${ROOT_DIR}/scripts


# LOG_DIR specifies the directory where scripts should write their log
#   files

export LOG_DIR=${ROOT_DIR}/logs


# DATA_DIR specifies the directory where scripts should download and
#   retrieve large data files, e.g., GRIB2 files used for initial and
#   boundary conditions

export DATA_DIR=${ROOT_DIR}/data


# RUN_DIR specifies the directory under which the model will be run, and
#   in which model output files will be written; sub-directories of
#   RUN_DIR may be created for each forecast cycle

export RUN_DIR=${ROOT_DIR}/run


# PLOTS_DIR specifies the directory in which plots from model output
#   will be created by plotting scripts; sub-directories of PLOTS_DIR may
#   be created for each forecast cycle

export PLOTS_DIR=${ROOT_DIR}/plots
